:root {
  --textColor: white;
  --backgroundColor: #f4b41a;
  --headerColor: #161b21;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--backgroundColor);
  color: var(--textColor);
  font-size: 18px;
}

section {
  padding: 60px;
  display: flex;
  flex-wrap: wrap;
}

/* the lines next to sections */
section h2 {
  text-align: right;
  padding-right: 5px;
  border-right: solid 3px;
}

header {
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--headerColor);
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
}

.hero {
  background-image: url("../images/hero.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 90px;
}

a {
  text-decoration: none;
  color: var(--textColor);
}

#about-me div {
  margin-left: 15px;
}

.absolute-container {
  position: relative;
}

.container1 {
  width: 400px;
  height: 200px;
  border: 5px solid var(--headerColor);
  margin-left: 15px;
  background-image: url(../images/runbuddy.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.container img {
  width: 100%;
  height: 100%;
}

#workText {
  width: 100px;
  height: 40px;
  background-color: var(--headerColor);
  text-align: left;
  position: relative;
  top: 130px;
  padding-left: 6px;
}

#workText p {
  font-size: 13px;
}

.contact-box {
  width: 200px;
  height: 80px;
}

#contactText {
  border-bottom: solid 5px;
  width: fit-content;
  position: relative;
  top: 30%;
  left: 25%;
}
