:root {
  --textColor: rgba(36, 32, 32, 0.733);
  --backgroundColor: #e2e4e7;
  --headerColor: #faeadbcc;
  --header: #faeadbcc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--backgroundColor);
  color: var(--textColor);
  font-size: 18px;
}

section {
  padding: 60px;
  display: flex;
}

section h2 {
  text-align: right;
  padding-right: 5px;
  border-right: solid 3px;
}

header {
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--header);
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
}

.hero {
  background-image: url("../images/grey.png");
  background-size: auto;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 90px;
}

a {
  text-decoration: none;
  color: var(--textColor);
}

#about-me div {
  margin-left: 15px;
}

.bigBoy {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.absolute-container {
  position: relative;
}

.container1 {
  width: 1000px;
  height: 500px;
  border: 5px solid var(--headerColor);
  margin-left: 15px;
  background-image: url(../images/dashboard.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
}

.container2 {
  width: 485px;
  height: 220px;
  border: 5px solid var(--headerColor);
  margin: 15px;
  background-image: url(../images/runbuddy.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
}

.container4 {
  width: 485px;
  height: 220px;
  border: 5px solid var(--headerColor);
  margin: 15px;
  background-image: url(../images/project1.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
}

.container3 {
  width: 485px;
  height: 220px;
  border: 5px solid var(--headerColor);
  margin: 15px;
  background-image: url(../images/PassGen.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
}

.container3 #workText {
  width: 170px;
  height: 45px;
}

.container1 #workText {
  width: 170px;
  height: 45px;
}

.container1,
.container2,
.container3,
.container4 {
  opacity: 0.7;
}

.container1:hover,
.container2:hover,
.container3:hover,
.container4:hover {
  opacity: 1;
}

#workText {
  width: 100px;
  height: 40px;
  background-color: var(--headerColor);
  text-align: left;
  position: relative;
  top: 130px;
  padding-left: 6px;
}

#workText p {
  font-size: 13px;
}

#contact {
  justify-content: space-between;
}

.contact-box {
  width: 200px;
  height: 80px;
}

#contactText {
  border-bottom: solid 5px;
  width: fit-content;
  position: relative;
  top: 30%;
  left: 25%;
  font-size: 25px;
}

@media screen and (max-width: 1150px) {
  section {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    text-align: center;
  }

  section h2 {
    text-align: center;
    border-right: none;
  }

  .bigBoy {
    justify-content: center;
  }
}
